@{
    ViewData["Title"] = "Home Page Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-center">
    <div class="text-center">


        <h1 class="display-4">Bienvenido al Menú!</h1>

        <div class="text-center">
            <a align="left" href="@Url.Action("Index", "Productos")" class="elements">
                <img src="~/Img/Menu-Foto2.jpg" width="300">
            </a>
            <a align="rigth" href="@Url.Action("CarritoUsuario", "Carritos")" class = "elements">
                <img src="~/Img/Carrito.png" width="300" />
            </a>


        </div>
</section>
