@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Bienvenido al Menú!</h1>
    
    <div class="text-left">
        <a align="left" href="@Url.Action("Index", "Categorias")" class="elements">
            <!--<img src="@Url.Content("~/Img/Menú-Foto2.jpg")" width="300px"></a>-->
            <span>Categorias</span>
                <div class="text-right">
                    <a href="@Url.Action("Index", "Usuario")" class="elements">
                    <span>Usuarios</span>
                    </a>
                </div>
        </a>
    </div>
</section>
