@{
    ViewData["Title"] = "Home Page Admin";
}

<section class="text-center">
<div class="text-center">


    
    <div class="text-left">
        <a align="left" href="@Url.Action("Index", "Productos")" class="elements">
            <img src="~/Img/Menu-Foto2.jpg" width="300"></a>
         
                <div class="text-right">
                    <a href="@Url.Action("Index", "Usuario")" class="elements">
                    <span>Usuarios</span>
                    </a>
                </div>
        </a>
    </div>
</section>
