@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Menú!</h1>
    <li>
        <a href="@Url.Action("Index", "Usuario")" class="elements">
            <span>Usuarios</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Bebidas")" class="elements">
            <span>Bebidas</span>
        </a>
    </li>
</div>
