@{
    ViewData["Title"] = "Home Page Admin";
}

<section class="text-center">
    <div class="text-center">

        <h1 class="display-4">Bienvenido al Menú!</h1>
        <br />


        <div class="banner">
            <a align="left" href="@Url.Action("Index", "Productos")" class="elements">
                <img src="~/Img/Menu-Foto2.jpg" height="160" width="300">
                <a href="@Url.Action("Index", "Usuario")" class="elements">
                    <img src="~/Img/Usuarios.jpg" height="160" width="300">
         </div>

       
</section>
