@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1>Proyecto para Programación en Tecnologías</h1>
<p>Alumnos:</p>
<ul>
    <li>Agustin Benvenuto</li>
    <li>Luciano Sanchez</li>
    <li>Leandro Schargorodsky</li>
</ul>
